html, body {
  font: 400 16px/1.5 "Karla", "Open Sans", "Gill Sans", Arial, sans-serif;
  background: #EFF2F5;
  color: black;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}
