html,
body {
  font: 400 16px/1.5 "Karla", "Open Sans", "Gill Sans", Arial, sans-serif;
  background: #EFF2F5;
  color: black;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.main {
  background-color: #eff2f5;
}

.main__hr {
  margin: 0 2em;
}

.paginator-button {
  background: #EEF0F4 !important;
  border-radius: 6px !important;
  border: 2px solid #D8D8DA !important;
  color: #5C5C5C !important;
  margin: 0.4em !important;
  min-width: 0 !important;
  padding: 0 0.4em !important;
}

.paginator-button:hover {
  background: #E0F2F3 !important;
  border-color: #E0F2F3 !important;
  color: #00707C !important;
}

.paginator-label {
  font-size: 0.6em !important;
  line-height: 1em !important;
  text-transform: uppercase !important;
}

.paginator-page-selector > select {
  background: #EEF0F4 !important;
  border-radius: 6px !important;
  border: 2px solid #D8D8DA !important;
  margin: 0.4em !important;
  min-width: 0 !important;
  padding: 0 0.4em !important;
}

.subject-card {
  background-color: #eef0f4;
}

.title {
  letter-spacing: 1.5px;
}

.user-heading {
  color: #5c5c5c;
  letter-spacing: -.5px;
  margin: 1em 0;
}
